<!DOCTYPE Html>
<html>
<head>
    <title>Explore campgrounds and nearby outdoor activities | REI Camping Project</title>
    <link rel="stylesheet" type="text/css" href="../app/app.component.css">
</head>

<body>
    <nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="#">SHOP REI</a></li>
				<li><a href="#">REI OUTLET</a></li>
				<li><a href="#">USED GEAR</a></li>
                <li><a href="#">REI ADVENTURES</a></li>
                <li><a href="#">CLASSES & EVENTS</a></li>
                <li><a href="#">EXPERT ADVICE</a></li>
                <li><a href="#">CO-OP JOURNAL</a></li>
                <li><a href="#">CAMPING PROJECT</a></li>
			</ul>
		</div>
    </nav>
    
    <header id="main-header">
        <div class="container">
            <a href="app.component.html">
                <img src="../Pictures/reilogo.jpg" alt="My Sample Image">
            </a>
                <hr>
            <ul>
				<li><a href="#"><strong>CAMPING PROJECT</strong></a></li>
				<li><a href="#">Search</a></li>
                <li><a href="#">Areas</a></li>
            </ul>
        </div>
    </header>

    <section id="centerfold">
            <div class="container">
                <h1>YOUR NEXT CAMPING ADVENTURE AWAITS</h1>
                <small>Find information about thousands of campsites across the U.S.</small>
            </div>
            <form action="#" method="POST">
                    <div>
                        <input type="text" name="Search" placeholder="Search by compound or location">
                        <button>Search</button>
                    </div>
            </form>
    </section>

</body>
</html> 