<!DOCTYPE Html>
<html>
<head>
    <title>Explore campgrounds and nearby outdoor activities | REI Camping Project</title>
    <link rel="stylesheet" type="text/css" href="../app/app.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="#">SHOP REI</a></li>
				<li><a href="#">REI OUTLET</a></li>
				<li><a href="#">USED GEAR</a></li>
                <li><a href="#">REI ADVENTURES</a></li>
                <li><a href="#">CLASSES & EVENTS</a></li>
                <li><a href="#">EXPERT ADVICE</a></li>
                <li><a href="#">CO-OP JOURNAL</a></li>
                <li><a href="#">CAMPING PROJECT</a></li>
			</ul>
		</div>
    </nav>
    
    <header id="main-header">
        <div class="container">
            <a href="app.component.html">
                <img src="../Pictures/reilogo.jpg" alt="My Sample Image">
            </a>
                <hr>
            <ul>
				<li><a href="#"><strong>CAMPING PROJECT</strong></a></li>
				<li><a href="#">Search</a></li>
                <li><a href="#">Areas</a></li>
            </ul>
        </div>
    </header>

    <section id="centerfold">
            <div class="container">
                <h1>YOUR NEXT CAMPING ADVENTURE AWAITS</h1>
                <small>Find information about thousands of campsites across the U.S.</small>
            </div>
            <form action="#" method="POST">
                    <div>
                        <input type="text" name="Search" placeholder="Search by compound or location">
                        <button>Search</button>
                    </div>
            </form>
    </section>

    <div class="container" id="site-features">
        <div class="row">
            <div class="col-xs-12">
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-xs-12 display-flex justify-content-evenly"> -->
                            <div class="site-feature">
                                <img class="icon" src="https://www.rei.com/assets/camp/icons/map/live.svg" />
                                <h3 class="h3">Find a campground</h3>
                                <span class="font-sm">Search for campgrounds, see amenities and find a campsite for your next outdoor adventure.</span>
                            </div>
                            <div class="site-feature">
                                <img class="icon" src="https://www.rei.com/assets/camp/icons/boot/live.svg" />
                                <h3 class="h3">Explore nearby activities</h3>
                                <span class="font-sm">Find trails, rides and climbing routes using our free, community-built maps and guides.</span>
                            </div>
                            <div class="site-feature">
                                <img class="icon" src="https://www.rei.com/assets/camp/icons/tent/live.svg" />
                                <h3 class="h3">Sit back and relax</h3>
                                <span class="font-sm">Spend less time worrying about logistics and more time enjoying evenings around the campfire.</span>
                            </div>
                        <!-- </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

</body>
</html> 