body{
    font-family:Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:15px;
    line-height:1.6em;
    color:rgb(0, 0, 0);
    background-color:#fff
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

a{
    text-decoration: none;
	color:#000
}

a:hover{
	color:#6d2424;
}


#navbar{
    width:100%;
    background-color:#2a2a2a;
    text-align:left;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:14px;
	padding-right:15px;
}

#main-header{
    color:#fff;
}

#main-header ul{
    list-style: none;
    text-decoration: none;
    font-size:16px;
}

#main-header li{
    display:inline;
    padding-right: 30px;
}

#main-header img{
    padding:0;
    margin-top:5px;
}

#centerfold{
	background-image:url('../Pictures/camping.jpg');
	background-position:center bottom;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

#centerfold h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
}

#centerfold small{
	color:#fff;
	font-size:20px;
	line-height: 1.6em;
}

#centerfold input{
    width:60%;
}

#centerfold button{
    color: #fff;
    background-color: cyan;
}